//
// UI/UX - Portifolio
// Front End Developer - Portifolio Matt Ximenes
//

//Loop for CSS3 prefixes - type 1 
@mixin css3($property, $value, $prefixes: (webkit moz ms o)) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    // Output standard non-prefixed declaration
    #{$property}: $value;
  }

//Loop for CSS3 prefixes - type 2
@mixin other_css3($property, $value, $prefixes: (webkit moz ms o)) {
    @each $prefix in $prefixes {
        #{$property}: #{'-'+$prefix+'-'+$value};
    }
    // Output standard non-prefixed declaration
    #{$property}: $value;
}

// Select Especific CSS for a type of Brownser
@mixin xbrowser($browsers: Mozilla) {
    @each $browser in $browsers {
      html[data-browser*="#{$browser}"] & {
        @content;
      }
    }
  }

//Rotation  
@mixin rotate($rotation: 7deg){
    @include css3(transform, rotate($rotation));}

//Rounded
@mixin rounded($radius: 0.5em) {
    @include css3(border-radius, $radius);}

//Gradient
@mixin gradient($from, $to, $direction: top) {
    background-color: $from;
    @include other_css3(background, linear-gradient($direction, $from, $to));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
    }

//Main Call    
@mixin font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;}

/*@mixin rotate2($rotation: 10deg){
        @include xbrowser(){
            transform: rotate($rotation);
        }
}*/


// Boson
$fontFamily: system;
$fontSize: 1rem;
$colorWhite: #fff;
$colorBlack: #000;

//Atom
a { text-decoration: none;}

main {
    /*max-width: 960px; 
    margin: auto;*/
    @include font-face;}

// Molecule
.hero, .comments, .Knowledge {
   // transform: skewY(7deg);
    color:#fff;
    overflow: hidden;
    .reverse {
        //transform: skewY(-7deg);
    }
}


// Organismis
.hero {
    
    .bg {
        background-image: url(../img/hero-bg.jpeg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding:40px 10%;
        text-align: center;

        p {margin-bottom:30px;}

        .arrow-works {
            border: 2px solid #fff;
            padding:10px;
            color:#fff;
            font-weight: bold;
            @include rounded();
        }
    }

}

.skills {
    .skill {
        text-align: center;
        padding:20px 10%;
        
        i {
            font-size: 2rem;
            color: #fff;
            padding:10px;
            @include rounded(1em);
            @include gradient(#FD8237, #FF4500);
        }
    }
}

.testemonial {

    background-image: url(../img/testemonial-bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Vidaloka', serif;
    padding:20px 10%;
    text-align: center;

    img {
        width: 100px;
        @include rounded(50px);
    }
    p {}
}